## SEGGER Embedded Studio and JLink ##
project/pca10040_s132/SEGGER_embedded_studio/Output/
project/pca10040_s132/SEGGER_embedded_studio/experimental_ble_app_eddystone_s132_pca10040.emSession
project/pca10040_s132/SEGGER_embedded_studio/nrf52832_xxaa_s132_Debug.jlink

## KEIL AND JLINK ##
_build
RTE
JLinkSettings.ini
JLinkLog.txt
*.uvguix*

## Crypto Library should not be pushed directly ##
crypto_libs

## Symlinks should not be commited ##
sdk_components
sdk_external


##Script to generate merged hex file##
copy_merge_hex.sh
